/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Mono', monospace;*/

body {
  background-color: yellowgreen;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: blueviolet;
}
