/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Mono', monospace;*/

:root {
  --branding-color: #6c63ff;
  --background-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --primary-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--primary-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 64px;
}
p {
  color: black;
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.header {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}

.header p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.header h1 {
  font-size: 96px;
  line-height: 1.5;
}

.header h2 {
  color: #272142;
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.btn-branding {
  color: white;
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 5px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 5px;
}
.project-section {
  padding: 120px 60px;
}

.email-link {
  text-align: center;
  color: #6c63ff;
}
#contact {
  text-align: center;
}

.about-header {
  padding: 160px 20px;
}
.about-header h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-header h2 {
  color: #272142;
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.about-header p {
  color: #272142;
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}
.profile-picture {
  max-width: 500px;
  border-radius: 20px;
}
.about-header-content {
  padding: 40px 40px;
}
@media (max-width: 960px) {
  .header h1 {
    font-size: 44px;
    line-height: 2;
  }
  .header {
    padding: 80px 10px;
  }
  h2 {
    font-size: 44px;
  }
  .project-section {
    padding: 0;
    text-align: center;
  }
  .about-header h1 {
    font-size: 44px;
    line-height: 1.3;
  }
  .about-header {
    text-align: center;
    padding: 40px 20px;
  }
  .profile-picture {
    max-width: 400px;
  }
}
